# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Go
*.test
*.out
/vendor/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Editor
.vscode/*.log
.DS_Store

# Devcontainers
.devcontainer/.env

# Local secrets
.secrets/
