---
page_title: "seq_health (Data Source)"
description: |-
  Reads the Seq /health endpoint.
---

# seq_health (Data Source)

Use this data source to validate connectivity to the Seq server.

## Example Usage

```terraform
data "seq_health" "this" {}
```

{{ .SchemaMarkdown }}
